<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% seo %}


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ton_quadros">
<meta name="twitter:title" content="{{ page.title }}">

{% if page.description %}
  <meta name="twitter:description"
    content="{{ page.meta_description }}">
{% else %}
  <meta name="twitter:description"
    content="{{ page.content | strip_html | xml_escape
      | truncate: 200 }}">
{% endif %}

{% if page.image %}
  <meta property="og:image" content="{{ site.url }}/{{ page.image }}" />
  <meta name="twitter:image" content="{{ site.url }}/{{ page.image }}" />
{% endif %}

<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
<script src="/assets/typewrite/dist/typewrite.min.js"></script>
<title>{{ page.title | default: site.title }}</title>